@{
	ViewData["Title"] = "Sobre mim";
}
<section class="d-flex justify-content-center bg-primary p-5 text-white">
	<img src="~/img/minhafoto.jpg" alt="Nao precisa disso" class="rounded-circle mb-3" width="150">
	<h1 class="text-center display-1 fw-bold">Bom dia, eu sou Gabriel.</h1>
	<p class="lead">Estudante, futuro psicólogo e gamer</p>
</section>

